@keyframes fadeOut {
    to { opacity: 0 }
}
@-webkit-keyframes fade-out {
    to { opacity: 0; visibility: hidden; }
}

@keyframes slideFromLeft {
    from { left: -999px; }
    to   { left: 0; }
}

/* Firefox < 16 */
@-moz-keyframes slideFromLeft {
    from { left: -999px; }
    to   { left: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideFromLeft {
    from { left: -999px; }
    to   { left: 0; }
}

/* Internet Explorer */
@-ms-keyframes slideFromLeft {
    from { left: -999px; }
    to   { left: 0; }
}

/* Opera < 12.1 */
@-o-keyframes slideFromLeft {
    from { left: -999px; }
    to   { left: 0; }
}
