html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 1.5;
}

#root, .app-container {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    &.hz {
        flex-direction: row;
    }
    &.vr {
        flex-direction: column;
    }
    &.sb {
        justify-content: space-between;
    }
    &.sa {
        justify-content: space-around;
    }
    &.jc {
        justify-content: center;
    }
    &.jfs {
        justify-content: flex-start;
    }
    &.jfe {
        justify-content: flex-end;
    }
    &.ac {
        align-items: center;
    }
    &.ab {
        align-items: baseline;
    }
}

.white {
    color: $white;
}

.white-bg {
    background: #FFF;
}

.pointer {
    cursor: pointer;
}

.span-margin {
    &.lr {
        margin: 0 4px;
    }
}

.small-text {
    font-size: 10px;
}