
.app-container {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
    background: $light-grey;
}

.content-container {
    text-align: center;
    padding: 20px;
}