html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#root, .app-container {
    width: 100%;
    height: 100%;
}

.app-container {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
}

.white {
    color: $white;
}

.flex {
    display: flex;
    justify-content: center;
    &.hz {
        flex-direction: row;
    }
    &.vr {
        flex-direction: column;
    }
    &.ac {
        align-items: center;
    }
}
